@import './styles/variables.css';

:root {
    font-family: var(--font-main);
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    color: var(--color-text-main);
    background-color: var(--color-bg-main);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: var(--color-electric-blue);
    text-decoration: inherit;
}

a:hover {
    color: var(--color-neon-green);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-display);
    margin: 0;
    color: var(--color-text-main);
}

button {
    font-family: inherit;
}

/* Custom Scrollbar */
.thin-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.thin-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
}